lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

coverage

.env
.env.local
.env.staging
.env.production

node_modules
dist

.idea
*.iml

.DS_Store
Thumbs.db

dist/**/*

yarn.lock